.no-border, .noborder { border-style: none; }

.bordered {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 0.25em;
}

.small { font-size: 80%; }

.top-navig {
	width: 100%;
	background-color: #ffffcc;
	padding: 2px;
	margin-top: 0px;
}

body, .body-style {
	background-color: #ffffff;
	font-family: arial, helvetica, sans-serif;
}

.middle { vertical-align: middle; }

.center { text-align: center; }

.right {
	text-align: right;
}

.ahem { display: none; }

.heading {
	font-family: arial, helvetica, sans-serif;
	font-style: italic;
}

.thislink { color: red; }

.ul { text-decoration: underline; }

.bold { font-weight: bold; }

.ital { font-style: italic; }

.code { font-family: courier new, courier, monospace; }

.blockquote {
	margin-left: 1em;
	margin-right: 1em;
}

.floatright { float: right; }

.floatleft { float: left; }

.clearright { clear: right; }

.clearleft { clear: left; }

.ul { text-decoration: underline; }

.table-center {
	margin-left: auto;
	margin-right: auto;
}


