/* HEADER */

#sandbar {
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 44px;
}

#gc-googlebar {
  border-bottom: 0;
  margin: 0 auto;
  max-width: 1254px;
  padding: 24px 0;
}

#gc-logo img {
  left: 0;
}

#gc-main {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  max-width: 1254px;
}

#gc-topnav {
  background: #fff;
  max-width: 1254px;
  margin: 0 auto;
}

#gc-topnav a,
#gc-topnav a:visited {
  color: #666;
}

#gc-appbar {
  background-image: url(../images/datacenter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  height: 690px;
}

#gc-appnav,
#gc-appbar h1,
#gc-appbar .google-feedback-container,
#gc-appbar .plusone-container {
  display: none !important;
}

/* GENERAL */

#gc-content {
  width: 726px;
}

#gc-content a {
  color: #15c;
  text-decoration: none;
}

#gc-content a:hover {
  color: #15c;
  text-decoration: underline;
}

#gc-content h1,
#gc-content h2,
#gc-content h3,
#gc-content h4 {
  border-bottom: 0;
  color: #333;
  font-weight: 300;
  line-height: 133%;
  margin: .5em 0;
  text-decoration: none;
}

#gc-content h1 {
  font-size: 450%;
}

#gc-content h2 {
  font-size: 225%;
}

#gc-content h3,
#gc-content h4 {
  font-size: 145%;
}

#gc-content h1 a,
#gc-content h2 a,
#gc-content h3 a,
#gc-content h4 a {
  color: #333;
}

#gc-content h1 a:hover,
#gc-content h2 a:hover,
#gc-content h3 a:hover,
#gc-content h4 a:hover {
  text-decoration: none;
}

#gc-content hr {
  margin: 1.5em 0;
}

#gc-content .button {
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  min-width: 90px;
  padding: 6px 11px 6px 11px;
}

#gc-content .callout {
  color: #db4b39;
  font-weight: bold;
}

#gc-content .row-container {
  overflow: auto;
}

#gc-content .two-col {
  float: left;
  width: 327px;
}

#gc-content .three-col {
  float: left;
  width: 218px;
}

#gc-content .two-col + .two-col,
#gc-content .three-col + .three-col {
  margin-left: 36px;
}

/* SPLASH */

#splash #headline {
  color: #fff;
  position: absolute;
  text-align: center;
  -moz-text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  -webkit-text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  top: 110px;
  width: 726px;
}

#splash #blurb {
  color: #fff;
  font-size: 150%;
  position: absolute;
  text-align: center;
  -moz-text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  -webkit-text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
    0 0 25px #000, 0 0 25px #000;
  top: 225px;
  width: 726px;
}

#splash #button {
  position: absolute;
  text-align: center;
  top: 310px;
  width: 726px;
}

#splash #button .button-container {
  -moz-box-shadow: 0 3px 15px #000, 0 3px 15px #000;
  -webkit-box-shadow: 0 3px 15px #000, 0 3px 15px #000;
  box-shadow: 0 3px 15px #000, 0 3px 15px #000;
  display: inline-block;
}

#splash #button .button-container + .button-container {
  margin-left: 20px;
}

#splash #button .button {
  min-width: 100px;
}

#splash #button .button-gray {
  color: #333;
}

#splash #button .button-gray:hover {
  background: -moz-linear-gradient(top, #fff, #f1f1f1);
  background: -ms-linear-gradient(top, #fff, #f1f1f1);
  background: -o-linear-gradient(top, #fff, #f1f1f1);
  background: -webkit-linear-gradient(top, #fff, #f1f1f1);
  background: linear-gradient(top, #fff, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111;
}

#splash #button .button-gray:active {
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  color: #111;
}

#splash #chromebook {
  background-image: url(../images/apps-screen-glare.png),
    url(../images/apps-screen-script_2x.jpg),
    url(../images/apps-screen_2x.png);
  background-position: 0 0, 116px 25px, 0 0;
  background-repeat: no-repeat;
  background-size: 696px 437px, 472px 313px, contain;
  height: 437px;
  margin: 0 15px;
  position: absolute;
  top: 370px;
  width: 696px;
}

/* ILLUSTRATION */

#gc-content #illustration-container {
  height: 415px;
  overflow: visible;
  position: relative;
  top: 25px;
}

.illustration {
  -moz-box-shadow: 0 3px 15px #000;
  -webkit-box-shadow: 0 3px 15px #000;
  box-shadow: 0 3px 15px #000;
  position: absolute;
}

#script-editor {
  background-image: url(../images/script-editor.svg);
  height: 264px;
  left: 159px;
  transition: top 250ms;
  top: 0;
  width: 408px;
}

#script-editor:hover {
  top: -60px;
}

#sheets {
  background-image: url(../images/sheets.svg);
  height: 288px;
  left: 10px;
  top: 66px;
  transition: top 250ms;
  width: 228px;
}

#sheets:hover {
  top: 40px;
}

#docs {
  background-image: url(../images/docs.svg);
  height: 288px;
  left: 249px;
  top: 92px;
  transition: top 250ms;
  width: 228px;
}

#docs:hover {
  top: 66px;
}

#forms {
  background-image: url(../images/forms.svg);
  height: 288px;
  left: 488px;
  top: 66px;
  transition: top 250ms;
  width: 228px;
}

#forms:hover {
  top: 40px;
}

#store1 {
  background-image: url(../images/store1.svg);
  height: 108px;
  left: 34px;
  top: 60px;
  width: 160px;
}

#store2 {
  background-image: url(../images/store2.svg);
  height: 108px;
  left: 34px;
  top: 60px;
  width: 160px;
}

#store3 {
  background-image: url(../images/store3.svg);
  height: 108px;
  left: 34px;
  top: 60px;
  width: 160px;
}

.illustration-caption {
  color: #333;
  opacity: 0;
  position: absolute;
  transition: opacity 250ms;
}

.illustration:hover + .illustration-caption,
.illustration:hover > .illustration-caption {
  opacity: 1;
}

#script-editor + .illustration-caption {
  right: 20px;
  text-align: left;
  top: -5px;
  width: 125px;
}

.editor .illustration-caption {
  bottom: -30px;
  width: 228px;
}

/* SERVICE ICONS */

#icon-container {
  margin-top: 1.5em;
}

.service-block {
  display: inline-block;
  position: relative;
  top: 0px;
  transition: top 250ms;
}

.service-block:hover {
  top: -20px;
}

.service-block + .service-block {
  margin-left: 2px;
}

.service-icon {
  height: 64px;
  width: 64px;
}

#spreadsheets-icon {
  background-image: url(../images/icons/spreadsheets-64.png);
  background-image: -webkit-image-set(url(../images/icons/spreadsheets-64.png) 1x, url(../images/icons/spreadsheets-128.png) 2x);
}

#docs-icon {
  background-image: url(../images/icons/docs-64.png);
  background-image: -webkit-image-set(url(../images/icons/docs-64.png) 1x, url(../images/icons/docs-128.png) 2x);
}

#forms-icon {
  background-image: url(../images/icons/forms-64.png);
  background-image: -webkit-image-set(url(../images/icons/forms-64.png) 1x, url(../images/icons/forms-128.png) 2x);
}

#sites-icon {
  background-image: url(../images/icons/sites-64.png);
  background-image: -webkit-image-set(url(../images/icons/sites-64.png) 1x, url(../images/icons/sites-128.png) 2x);
}

#drive-icon {
  background-image: url(../images/icons/drive-64.png);
  background-image: -webkit-image-set(url(../images/icons/drive-64.png) 1x, url(../images/icons/drive-128.png) 2x);
}

#gmail-icon {
  background-image: url(../images/icons/googlemail-64.png);
  background-image: -webkit-image-set(url(../images/icons/googlemail-64.png) 1x, url(../images/icons/googlemail-128.png) 2x);
}

#calendar-icon {
  background-image: url(../images/icons/calendar-64.png);
  background-image: -webkit-image-set(url(../images/icons/calendar-64.png) 1x, url(../images/icons/calendar-128.png) 2x);
}

#contacts-icon {
  background-image: url(../images/icons/contacts-64.png);
  background-image: -webkit-image-set(url(../images/icons/contacts-64.png) 1x, url(../images/icons/contacts-128.png) 2x);
}

#groups-icon {
  background-image: url(../images/icons/groups-64.png);
  background-image: -webkit-image-set(url(../images/icons/groups-64.png) 1x, url(../images/icons/groups-128.png) 2x);
}

#maps-icon {
  background-image: url(../images/icons/maps-64.png);
  background-image: -webkit-image-set(url(../images/icons/maps-64.png) 1x, url(../images/icons/maps-128.png) 2x);
  background-position: 7px 5px;
  background-repeat: no-repeat;
  background-size: 48px;
}

#translate-icon {
  background-image: url(../images/icons/translate-64.png);
  background-image: -webkit-image-set(url(../images/icons/translate-64.png) 1x, url(../images/icons/translate-128.png) 2x);
}

.service-name {
  bottom: -20px;
  color: #333;
  opacity: 0;
  position: absolute;
  transition: opacity 250ms;
  width: 64px;
}

.service-block:hover .service-name {
  opacity: 1;
}

/* SUPPORT ICONS */

.support-col {
  float: left;
  width: 157px;
}

.support-col + .support-col {
  margin-left: 12px;
}

.support-icon {
  background-size: contain;
  height: 48px;
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  width: 48px;
}

#gplus-icon {
  background-image: url(../images/icons/gplus-64.png);
  background-image: -webkit-image-set(url(../images/icons/gplus-64.png) 1x, url(../images/icons/gplus-128.png) 2x);
  height: 42px;
  margin-right: 14px;
  margin-top: 14px;
  width: 42px;
}

#stack-overflow-icon {
  background-image: url(../images/icons/stack-overflow-64.png);
}

#developers-icon {
  background-image: url(../../_static/images/developers-logo.svg);
  background-size: 175px;
  background-position: 0 7px;
}

#blogger-icon {
  background-image: url(../images/icons/blogger-64.png);
  background-image: -webkit-image-set(url(../images/icons/blogger-64.png) 1x, url(../images/icons/blogger-128.png) 2x);
  background-size: 52px;
}

.support-blurb {
  float: left;
  width: 99px;
}

/* Redesign fixes */

.slim #gc-main {
  color: #222;
  font-family: Roboto;
}

.slim #sandbar {
  padding: 0;
}

.slim #gc-appnav {
  display: block !important;
}

.slim #gc-appbar {
  height: 667px;
  max-width: 100%;
  width: 100%;
}

.slim.docs h2::after {
  content: none;
}
